{% extends "base.html" %}
{% load static %}
{% load trackel_tags %}

{% comment %}
        For Showing datatables and triggering update forms
{% endcomment %}

{% block content %}

<div id="app">
  <div class="table-responsive">
      <trackel-datatable-btngroup></trackel-datatable-btngroup>
      <trackel-datatable :key="tableKey"></trackel-datatable>
  </div>
  {% render_trackel_form %}

</div>
{% endblock content %}

{% block vue %}
<script src="{% static 'js/datatables.js' %}" charset="utf-8"></script>

<template id="trackel-dt-btngrp">
  <div class="btn-group float-right" role="group" aria-label="datatable button group">
    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#addModal">Add</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    <button v-on:click="refreshTable" type="button" class="btn btn-sm btn-outline-secondary">Refresh</button>
  </div>
</template>

<template id="trackel-dt" data-url="{% url url %}">
  <table id="tt" class="table table-sm table-striped" data-server-side="true" data-ajax="{% url url %}?format=datatables">
    <thead>
      <tr>
        <th v-for="header in headers" :data-data="header.label">[[ header.value ]]</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in rows">
        <td v-for="data in row">[[ data ]]</td>
      </tr>
    </tbody>
  </table>
</template>

<script type="text/javascript">
  Vue.component('trackel-datatable-btngroup',{
    delimiters: ["[[", "]]"],
    data: function(){
      return {
        'data' : [],
      }
    },
    methods: {
      refreshTable : function(){
        app.tableKey += 1;
        this.$nextTick(function(){
          $(document).ready(function(){
            var table = $('#tt').DataTable();
          });
        });
      },
    },
    template: '#trackel-dt-btngrp'
  });

  Vue.component('trackel-datatable',{
    delimiters: ["[[", "]]"],
    data: function(){
      var obj = this;
      return {
        'headers': [],
        'rows': this.getData(obj)
      }
    },
    methods: {
      getData: function(object){
        var url = $('#trackel-dt').data('url');
        $.get(url).done(function(response){
          object.rows = response.results;
          object.headers = object.getHeaders(object);
          console.log(object.rows);
        });
      },
      formatString: function(string){
        var sentence = string.toLowerCase().split("_");
        for(var i = 0; i< sentence.length; i++){
          sentence[i] = sentence[i][0].toUpperCase() + sentence[i].slice(1);
        }
        return sentence.join(" ");
      },
      getHeaders: function(object){
        var data = object.rows[0];
        var headers = [];
        for (var key in data) {
          headers.push({
            label : key,
            value : object.formatString(key)
          });
        }
        return headers;
      },
    },
    template: '#trackel-dt'
  });

  var app = new Vue({
    delimiters: ["[[", "]]"],
    el: '#app',
    data : {
      tableKey : 0,
    },
    mounted : function(){
      this.$nextTick(function(){
        $(document).ready(function(){
          var table = $('#tt').DataTable();
        });
      });
    }
  });

</script>
{% endblock vue %}
