{% extends "base.html" %}
{% load static %}
{% load rest_framework %}
{% comment %}
        For Showing datatables and triggering update forms
{% endcomment %}

{% block content %}

<div id="app">
  <div class="table-responsive">
    <trackel-datatable-btngroup></trackel-datatable-btngroup>
    <trackel-datatable ref="tableRef"></trackel-datatable>
  </div>
  <div id="formUrl" data-url="{% url url %}"></div>
  <trackel-modal-form :key="modalFormKey"></trackel-modal-form>
</div>
{% endblock content %}

{% block vue %}
<script src="{% static 'js/datatables.js' %}" charset="utf-8"></script>

<template id="trackel-dt-btngrp">
  <div class="btn-group float-right" role="group" aria-label="datatable button group">
    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#addModal">Add</button>
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url export_url %}">Export</a>
    <button v-on:click="refreshTable" type="button" class="btn btn-sm btn-outline-secondary">Refresh</button>
  </div>
</template>

<template id="trackel-dt" data-url="{% url url %}">
  <table id="tt" :key="tableKey" class="table table-sm table-striped" data-server-side="true" data-ajax="{% url url %}?format=datatables">
    <thead>
      <tr>
        <th v-for="header in headers" :data-data="header.label" :data-name="header.label">[[ header.value ]]</th>
      </tr>
    </thead>
  </table>
</template>

{% comment %}
        Displaying Forms in a Modal
{% endcomment %}
<template id="modalForm">
  <div class="modal fade" id="addModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <span>
            <h4 class="modal-title text-white">Add New {{page_title}} Record</h4>
          </span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form" method="post">
            <div class="container">
              <fieldset class="form-group">
                {% csrf_token %}
                {% render_form form template_pack='drfformbootstrap4/horizontal' %}
              </fieldset>
            </div>
            <button v-on:click="sendForm" type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary shadow-sm" data-dismiss="modal">Close</button>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>

<script type="text/javascript">
  Vue.component('trackel-modal-form', {
    delimiters: ["[[", "]]"],
    methods: {
      sendForm: function () {
        var form = $('form').serializeArray();
        var url = $('#formUrl').data('url');

        var data = {};
        for (var name in form) {
          data[form[name]['name']] = form[name]['value'];
        }
        $.post(url, data, function (data, status) {
          $('#addModal').modal('hide');
          alert("Done:Saved Successfully!");
        }).fail(function (xhr, status, error) {
          for (var v in xhr.responseJSON) {
            var id = '#id_' + v;
            var e = $(id);
            //get the parent id to append elements later
            var parent = e.parent();
            e.addClass('is-invalid');
            //create notifications from JSON response
            var small = '<small class="text-danger">' + xhr.responseJSON[v][0] + '</small>';
            parent.append(small);

            var item = "label[for='id_" + v + "']";
            var o = $(item).addClass('text-danger');
            //if there is a help text, remove it
            if ($('#help_' + v)) {
              $('#help_' + v).empty();
            }
          }
        });
      },
    },
    template: '#modalForm'
  });

  Vue.component('trackel-datatable-btngroup',{
    delimiters: ["[[", "]]"],
    data: function () {
      return {
        'data' : [],
      }
    },
    methods: {
      refreshTable : function () {
        app.tableKey += 1;
        app.$refs.tableRef.getData();

        app.$nextTick(function () {
          $(document).ready(function () {
            $('#tt').DataTable({
              order: [[1, 'asc']],
            });
          });
        });
      },
    },
    template: '#trackel-dt-btngrp'
  });

  Vue.component('trackel-datatable',{
    delimiters: ["[[", "]]"],
    mounted: function () {
      this.getData();
      this.tableKey++;
      this.$nextTick(function () {
        $(this.element).DataTable();
      });
    },
    data: function(){
      return {
        'element': '#tt',
        'headers': [],
        'rows': 0,
        'tableKey': 0,
      }
    },
    methods: {
      getData: function(){
        var object = this;
        var url = $('#trackel-dt').data('url');
        $.get(url).done(function(response){
          object.rows = response.results;
          object.headers = object.getHeaders(object);
          console.log(object.rows);
        });
      },
      formatString: function(string){
        var sentence = string.toLowerCase().split("_");
        for(var i = 0; i< sentence.length; i++){
          sentence[i] = sentence[i][0].toUpperCase() + sentence[i].slice(1);
        }
        return sentence.join(" ");
      },
      getHeaders: function(object){
        var data = object.rows[0];
        var headers = [];
        for (var key in data) {
          headers.push({
            label : key,
            value : object.formatString(key)
          });
        }
        return headers;
      },
    },
    template: '#trackel-dt'
  });

  var app = new Vue({
    delimiters: ["[[", "]]"],
    el: '#app',
    data : {
      modalFormKey: 0,
    },
  });

</script>
{% endblock vue %}
