{% extends "base.html" %}
{% load static %}

{% block content %}
{% comment %}
        Charts
{% endcomment %}
<div id="app">
  <div class="row">
    <div class="col-g-6 col-md-6 col-sm-12">
      <div class="container-fluid">
        {% comment %}
                Extract Loss Chart
        {% endcomment %}
        <canvas id="el-chart" data-url="{% url 'ElMonthSummary' %}" data-title="Extract Loss"></canvas>
        <div class="btn-group" role="group" aria-label="button group">
          <button v-on:click="getElWeekData" type="button" class="btn btn-sm btn-outline-secondary disabled">W[[ week ]]</button>
          <button v-on:click="getElWeekData" type="button" class="btn btn-sm btn-outline-secondary">[[ month ]]</button>
          <button v-on:click="getElMonthData" type="button" class="btn btn-sm btn-outline-secondary">[[ year ]]</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="container-fluid">
        {% comment %}
                Loss Deployment Chart
        {% endcomment %}
        <canvas id="ld-chart" data-url="{% url 'RejectsMonthSummary' %}" data-title="Loss Deployment"></canvas>
        <div class="btn-group" role="group" aria-label="button group ld">
          <button type="button" class="btn btn-sm btn-outline-secondary">W[[ week ]]</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">[[  month ]]</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">[[ year ]]</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block vue %}
{% comment %}
        Include Chartjs
{% endcomment %}
<script src="{% static 'js/Chart.bundle.min.js' %}" charset="utf-8"></script>

{% comment %}
        Vue Instance
{% endcomment %}
<script type="text/javascript">


  var app = new Vue({
    el: '#app',
    delimiters: ["[[", "]]"],
    mounted: function(){
      this.$nextTick(function(){
        var obj = this;
        var date = this.getMonthYear();
        this.month = date[0];
        this.year = date[1];
        this.week = this.getWeek();
        this.getElMonthData(obj);
        this.generateLdChart('ld-chart');
      });
    },
    data: {
      month : 0,
      year : 0,
      week : 0,
      elMonthlyLabels : [],
      elMonthlyData : [],
      elWeeklyLabels : [],
      elWeeklyData : [],
    },
    methods: {
      getMonthYear : function(){
        var months = {
          1 : 'January',
          2 : 'February',
          3 : 'March',
          4 : 'April',
          5 : 'May',
          6 : 'June',
          7 : 'July',
          8 : 'August',
          9 : 'September',
          10 : 'October',
          11 : 'November',
          12 : 'December',
        }
        var today = new Date();
        var mm = today.getMonth();
        var yyyy = today.getFullYear();
        return [months[mm], yyyy];
      },
      getWeek : function(){
        let now = new Date();
        let onejan = new Date(now.getFullYear(), 0, 1);
        week = Math.ceil( (((now - onejan) / 86400000) + onejan.getDay() + 1) / 7 );
        return week;
      },
      generateLdChart: function (id) {
        var element = '#' + id;
        var c = $(element);
        var title = c.data('title');
        //ajax call
        $.get(c.data('url')).done(function(response){
          var data = response.data;
          var ctx = document.getElementById(id).getContext('2d');
          var chart = new Chart(ctx, {
              // The type of chart we want to create
              type: 'bar',

              // The data for our dataset
              data: data,
            });
          });
      },
      generateChart: function(id){
        var element = '#' + id;
        var c = $(element);
        var title = c.data('title');
        $.get(c.data('url')).done(function(response){
          //var data = response.data;
          var data = {
            datasets: [{
              label: 'Extract Loss',
              backgroundColor: 'rgb(0,10,255, 0.5)',
              borderColor: 'rgb(0,10,255)',
              borderWidth: 0.5,
              data: [{
                t: '2020-09-04',
                y: 0.5
              },{
                t: '2020-10-05',
                y: 0.8
              },{
                t: '2020-10-06',
                y: 0.1
              }]
            }]
          }

          var ctx = document.getElementById(id).getContext('2d');
          var chart = new Chart(ctx, {
              // The type of chart we want to create
              type: 'bar',

              // The data for our dataset
              data: data,
              // Configuration options go here
              options: {
                responsive: true,
                scales: {
                  xAxes: [{
                    type: 'time',
                    distribution: 'series',
                    time: {
                      displayFormats: {
                        'week': 'W'
                      },
                      isoWeekday: true,
                      unit: 'week',
                    }
                  }]
                }
              }
          });
        });
      }
    },
  });

</script>

{% endblock vue %}
