{% extends "base.html" %}
{% load static %}

{% block content %}
{% comment %}
        Charts
{% endcomment %}
<div id="app">
  <div class="row">
    <div class="col-g-6 col-md-6 col-sm-12">
      <div class="container-fluid">
        {% comment %}
                Extract Loss Chart
        {% endcomment %}
        <h6 :key="elChartKey">[[ elChartTitle ]]</h6>
        <canvas :key="elChartKey" id="el-chart" data-title="Extract Loss"></canvas>
        <div class="btn-group" role="group" aria-label="button group">
          <button v-on:click="setElChartUnit('week')" type="button" class="btn btn-sm btn-outline-secondary">Weeks</button>
          <button v-on:click="setElChartUnit('month')" type="button" class="btn btn-sm btn-outline-secondary">Months</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="container-fluid">
        {% comment %}
                Loss Deployment Chart
        {% endcomment %}
        <h6>[[ ldChartTitle ]]</h6>
        <canvas id="ld-chart" data-url="{% url 'RejectsMonthSummary' %}" data-title="Loss Deployment"></canvas>
        <div class="btn-group" role="group" aria-label="button group ld">
          <button type="button" class="btn btn-sm btn-outline-secondary">W[[ week ]]</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">[[  month ]]</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">[[ year ]]</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block vue %}
{% comment %}
        Include Chartjs
{% endcomment %}
<script src="{% static 'js/Chart.bundle.min.js' %}" charset="utf-8"></script>

{% comment %}
        Vue Instance
{% endcomment %}
<script type="text/javascript">


  var app = new Vue({
    el: '#app',
    delimiters: ["[[", "]]"],
    mounted: function(){
      this.$nextTick(function(){
        var obj = this;
        this.generateChart('el-chart');
        this.generateLdChart('ld-chart');
      });
    },
    data: {
      ldChartTitle: 'Loss Deployment',
      elChartTitle: 'Extract Loss By Month',
      elChartUrl: '/api/ElMonthSummary',
      elChartUnit: 'month',
      elChartKey: 0,
      month : 0,
      year : 0,
      week : 0,
    },
    methods: {
      setElChartUnit: function (unit) {
        this.elChartUnit = unit;

        if (unit === 'week') {
          this.elChartTitle = 'Extract Loss By Week';
          this.elChartUrl = '/api/ElWeekSummary';
        } else {
          this.elChartTitle = 'Extract Loss By Month';
          this.elChartUrl = '/api/ElMonthSummary';
        }

        this.elChartKey++;
        this.$nextTick(function () {
          this.generateChart('el-chart');
        });
      },
      formatData: function (data) {
        results = [];
        for (var val in data) {
          results.push({
            t: data[val].date,
            y: data[val].el
          });
        }
        return results;
      },
      generateLdChart: function (id) {
        var element = '#' + id;
        var c = $(element);
        var title = c.data('title');
        //ajax call
        $.get(c.data('url')).done(function(response){
          var data = response.results;
          var ctx = document.getElementById(id).getContext('2d');
          var chart = new Chart(ctx, {
              // The type of chart we want to create
              type: 'bar',

              // The data for our dataset
              data: data,
            });
          });
      },
      generateChart: function (id) {
        var element = '#' + id;
        var c = $(element);
        var obj = this;

        var title = c.data('title');

        $.get(obj.elChartUrl, function(response){
          var d = obj.formatData(response.results);
          var data = {
            datasets: [{
              label: 'Extract Loss %',
              backgroundColor: 'rgb(0,10,255, 0.5)',
              borderColor: 'rgb(0,10,255)',
              borderWidth: 0.5,
              data: d
            }]
          }
          console.log(data);
          console.log("url: " + obj.elChartUrl);

          var ctx = document.getElementById(id).getContext('2d');
          var chart = new Chart(ctx, {
              // The type of chart we want to create
              type: 'line',

              // The data for our dataset
              data: data,
              // Configuration options go here
              options: {
                responsive: true,
                scales: {
                  xAxes: [{
                    ticks: {
                      source: 'data'
                    },
                    type: 'time',
                    distribution: 'series',
                    time: {
                      displayFormats: {
                        'week': 'W',
                        'month': 'MMM'
                      },
                      isoWeekday: true,
                      unit: obj.elChartUnit,
                    }
                  }]
                }
              }
          });
        });
      }
    },
  });

</script>

{% endblock vue %}
