{% comment %}
        Displaying Forms in a Modal
{% endcomment %}
<div class="modal fade" id="addModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <span>
          <h4 class="modal-title text-white">{{form_title}}</h4>
        </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="#" method="post">
          {% csrf_token %}
          {% load rest_framework %}
          {% render_form form %}
          <input type="submit" class="btn btn-primary shadow" value="Save">
          <button type="button" class="btn btn-secondary shadow-sm" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
