<template id="heuftcharts">
  <div class="row">
    <div class="col-lg-6">
      <canvas id="heuft_1_chart"></canvas>
    </div>
    <div class="col-lg-6">
      <canvas id="heuft_2_chart"></canvas>
    </div>
  </div>
</template>

<script type="text/javascript">
  Vue.component('heuft-charts', {
    delimiters: ["[[", "]]"],
    props: ['unit', 'product', 'line', 'date'],
    data: function () {
      return {
        data: [],
        heuft1: {
          el: '#heuft_1_chart',
          url: '/API/Heuft1/',
          labels: [],
          data: [],
          options: {
            responsive: true,
            maintainAspectRatio: false,
          }

        },
        heuft2: {
          el: '#heuft_2_chart',
          url: '/API/Heuft2/',
          labels: [],
          data: [],
          options: {
            responsive: true,
            maintainAspectRatio: false,
          }
        }
      }
    },
    methods: {
      setChart: function (chart) {

        chart.url += '?line=' + this.line;
        chart.url += '&product=' + this.product;
        chart.url += '&unit=' + this.unit;
        chart.url += '&date=' + this.date;

        $.get(chart.url, function (response) {
          var data = [];
          if (chart.el === '#heuft_2_chart') {
            for (var item in response) {
              data.push(item.canted_closure);
              data.push(item.leaking_pressure);
              data.push(item.low_fill);
              data.push(item.uncrowned);
            }
            chart.labels = ['Canted Closure', 'Leaking Pressure', 'Low Fill', 'Uncrowned']

          } else if (chart.el === '#heuft_1_chart') {
            for (var item in response) {
              data.push(item.filling_tube);
              data.push(item.filling);
              data.push(item.closure);
            }
            chart.labels = ['Filling Tube', 'Filling', 'Clolsure'];

          }

          //set data
          chart.data = data;

          this.generateChart(chart);

        });
      },
      generateChart: function (chart) {

        var ctx = $(chart.el)[0].getContext('2d');

        var chart = new Chart(ctx, {
          type: 'bar',
          data: chart.data,
          options: chart.options
        });// end chart

      }, // end method
    },
    template: '#heuftcharts'
  });
</script>
