<template id="heuftcharts">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h6>[[ title ]]</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <h6 class="text-secondary">Heuft 1 Losses</h6>
          <div class="col-lg-12" :key="chartKey">
            <canvas id="heuft_1_chart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <h6 class="text-secondary">Heuft 2 Losses</h6>
          <div class="col-lg-12" :key="chartKey">
            <canvas id="heuft_2_chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="btn-group" role="group" aria-label="back and refresh button group">
        <slot name="back-button-slot"></slot>
        <button @click="chartRefresh" type="button" class="btn btn-sm btn-outline-secondary">Refresh</button>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
  Vue.component('heuft-charts', {
    delimiters: ["[[", "]]"],
    created: function () {
      this.$nextTick( function () {
        this.generateAllCharts();
      });
    },
    props: ['unit', 'product', 'line', 'date', 'title'],
    data: function () {
      return {
        chartKey: 0,
        heuft1: {
          el: '#heuft_1_chart',
          url: '/API/Heuft1/',
          labels: [],
          data: [],
          options: {
            responsive: true,
            aspectRatio: 2,
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                }
              }]
            }
          }

        },
        heuft2: {
          el: '#heuft_2_chart',
          url: '/API/Heuft2/',
          labels: [],
          data: [],
          options: {
            responsive: true,
            aspectRatio: 2,
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                }
              }]
            }
          }
        }
      }
    },
    methods: {
      chartRefresh: function () {
        this.chartKey++;
        this.generateAllCharts();
      },
      generateAllCharts: function () {
        this.setChart(this.heuft1);
        this.generateChart(this.heuft1);
        this.setChart(this.heuft2);
        this.generateChart(this.heuft2);
      },
      setChart: function (chart) {
        var obj = this;

        chart.url += '?line=' + this.line;
        chart.url += '&product=' + this.product;
        chart.url += '&unit=' + this.unit;
        chart.url += '&date=' + this.date;

        $.get(chart.url, function (response) {
          var res = response.results;

          if (chart.el === '#heuft_2_chart') {
            var data = [0,0,0,0,0];

            for (var item in res) {
              data[0] += parseFloat(res[item].canted_closure);
              data[1] += parseFloat(res[item].leaking_pressure);
              data[2] += parseFloat(res[item].low_fill);
              data[3] += parseFloat(res[item].uncrowned);
              data[4] += parseFloat(res[item].total_loss);
            }
            chart.labels = ['Canted Closure', 'Leaking Pressure', 'Low Fill', 'Uncrowned', 'Total Loss']

          } else if (chart.el === '#heuft_1_chart') {
            var data = [0,0,0,0];

            for (var item in res) {
              data[0] += parseFloat(res[item].filling_tube);
              data[1] += parseFloat(res[item].filling);
              data[2] += parseFloat(res[item].closure);
              data[3] += parseFloat(res[item].total_loss);
            }
            chart.labels = ['Filling Tube', 'Filling', 'Clolsure', 'Total Loss'];

          }

          //set data
          chart.data = data;
          obj.generateChart(chart);

        });
      },
      generateChart: function (chart) {

        var ctx = $(chart.el)[0].getContext('2d');

        var chart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: chart.labels,
            datasets: [{
              borderColor: 'rgb(0, 0, 255, 1)',
              backgroundColor: 'rgb(0, 0, 255, 0.6)',
              label: 'Loss %',
              data: chart.data
            }]
          },
          options: chart.options
        });// end chart

      }, // end method
    },
    template: '#heuftcharts'
  });
</script>
